.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
}

.menuLink{
  display: flex;
  background: var(--gray-300);
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in;
  border-radius: 10px;
  padding: 1.2rem;
}

.menuLink svg{
  color: var(--text-over-primary);
  width: 2.5rem;
  height: 2.5rem;
}

.menuLink:hover{
  filter: brightness(70%);
}